@import "tailwindcss";

@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: var(--brand3);
  --color-primary-100: var(--brand3);
  --color-primary-200: var(--brand3);
  --color-primary-300: var(--brand2);
  --color-primary-400: var(--brand2);
  --color-primary-500: var(--brand2);
  --color-primary-600: var(--brand1);
  --color-primary-700: var(--brand1);
  --color-primary-800: var(--brand1);
  --color-primary-900: var(--brand1);

  --color-secondary-50: var(--text3);
  --color-secondary-100: var(--text3);
  --color-secondary-200: var(--text3);
  --color-secondary-300: var(--text2);
  --color-secondary-400: var(--text2);
  --color-secondary-500: var(--text1);
  --color-secondary-600: var(--text1);
  --color-secondary-700: var(--text1);
  --color-secondary-800: var(--text1);
  --color-secondary-900: var(--text1);
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

/* ============================================================================== */

:root {
  --brand1: var(--color-blue-500);
  --brand2: var(--color-blue-600);
  --brand3: var(--color-blue-700);
  --fg: var(--color-gray-50);
  --bg1: var(--color-gray-100);
  --bg2: var(--color-gray-200);
  --bg3: var(--color-gray-300);
  --border1: var(--color-neutral-400);
  --border2: var(--color-neutral-500);
  --border3: var(--color-neutral-600);
  --text1: var(--color-black);
  --text2: var(--color-gray-800);
  --text3: var(--color-gray-600);
  --text-inverse: var(--color-white);
  --text-invariant: var(--color-white);
  --status-success1: var(--color-green-500);
  --status-success2: var(--color-green-600);
  --status-success3: var(--color-green-700);
  --status-warning1: #ffc527;
  --status-warning2: #d2b20d;
  --status-warning3: #ba8e14;
  --status-danger1: var(--color-red-500);
  --status-danger2: var(--color-red-600);
  --status-danger3: var(--color-red-700);
  --status-info1: var(--color-blue-400);
  --status-info2: var(--color-blue-500);
  --status-info3: var(--color-blue-600);
}

.dark {
  --brand1: var(--color-blue-500);
  --brand2: var(--color-blue-400);
  --brand3: var(--color-blue-300);
  --fg: var(--color-gray-900);
  --bg1: var(--color-gray-800);
  --bg2: var(--color-gray-700);
  --bg3: var(--color-gray-600);
  --border1: var(--color-neutral-300);
  --border2: var(--color-neutral-400);
  --border3: var(--color-neutral-500);
  --text1: var(--color-white);
  --text2: var(--color-gray-200);
  --text3: var(--color-gray-400);
  --text-inverse: var(--color-black);
  --text-invariant: var(--color-white);
  --status-success1: var(--color-green-400);
  --status-success2: var(--color-green-300);
  --status-success3: var(--color-green-200);
  --status-warning1: var(--color-yellow-400);
  --status-warning2: var(--color-yellow-300);
  --status-warning3: var(--color-yellow-200);
  --status-danger1: var(--color-red-400);
  --status-danger2: var(--color-red-300);
  --status-danger3: var(--color-red-200);
  --status-info1: var(--color-blue-300);
  --status-info2: var(--color-blue-200);
  --status-info3: var(--color-blue-100);
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/NunitoSans.ttf");
}

@font-face {
  font-family: "Google Sans Mono";
  src: url("/fonts/GoogleSansCodeMono.ttf");
}

.google-sans-mono {
  font-family: "Google Sans Mono";
}

html,
body {
  @apply bg-[var(--bg1)] overflow-hidden;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  box-sizing: border-box;
  height: 100vh;
}

* {
  @apply focus-visible:ring-2! focus-visible:ring-[var(--text3)]! outline-none subpixel-antialiased!;
  font-family: "Nunito Sans", system-ui, sans-serif;
}
/* Workaround for Android focus behaviour */
*:focus:not(:focus-visible) {
  @apply outline-none! ring-0!;
}

h1,
h2,
h3,
h4,
h5,
h6,
section,
p,
span,
pre,
ul,
ol,
li {
  @apply text-[var(--text1)];
}

main {
  @apply flex flex-col gap-4 px-4 pt-4 pb-16 h-full bg-[var(--fg)];
}

h1 {
  @apply text-3xl font-bold leading-tight;
}

h2 {
  @apply text-2xl font-bold leading-snug;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-lg font-semibold;
}

h5 {
  @apply text-base font-semibold;
}

h6 {
  @apply text-sm font-semibold;
}

p,
span {
  @apply text-[var(--text1)] text-base leading-relaxed;
}

small,
.caption {
  @apply text-sm text-[var(--text3)];
}

/* Buttons */
/* ============================================================== */
.brand-solid-button {
  @apply bg-[var(--brand1)] hover:bg-[var(--brand2)] active:bg-[var(--brand3)] text-[var(--text-invariant)] font-bold py-2 px-4 rounded transition-colors duration-100 cursor-pointer gap-2 flex items-center shadow;
}

.brand-outline-button {
  @apply border border-[var(--brand1)] hover:border-[var(--brand2)] active:border-[var(--brand3)] bg-transparent hover:bg-[var(--bg1)] active:bg-[var(--bg2)] text-[var(--brand1)] hover:text-[var(--brand2)] active:text-[var(--brand3)] font-bold py-2 px-4 rounded transition-colors duration-100 cursor-pointer gap-2 flex items-center;
}

.brand-transparent-button {
  @apply bg-transparent hover:bg-[var(--bg1)] active:bg-[var(--bg2)] text-[var(--brand1)] hover:text-[var(--brand2)] active:text-[var(--brand3)] font-bold py-2 px-4 rounded transition-colors duration-100 cursor-pointer gap-2 flex items-center;
}

.neutral-solid-button {
  @apply bg-[var(--bg1)] hover:bg-[var(--bg2)] active:bg-[var(--bg3)] text-[var(--text1)] font-bold py-2 px-4 rounded transition-colors duration-100 cursor-pointer gap-2 flex items-center;
}

.neutral-outline-button {
  @apply border border-[var(--border1)] hover:border-[var(--border2)] active:border-[var(--border3)] bg-transparent hover:bg-[var(--bg1)] active:bg-[var(--bg2)] text-[var(--text1)] font-bold py-2 px-4 rounded transition-colors duration-100 cursor-pointer gap-2 flex items-center;
}

.neutral-transparent-button {
  @apply bg-transparent hover:bg-[var(--bg1)] active:bg-[var(--bg2)] text-[var(--text1)] font-bold py-2 px-4 rounded transition-colors duration-100 cursor-pointer gap-2 flex items-center;
}

.status-danger-button {
  @apply bg-transparent text-[var(--status-danger1)] hover:text-[var(--status-danger2)] active:text-[var(--status-danger3)] font-bold py-2 px-4 rounded transition-colors duration-100 cursor-pointer gap-2 flex items-center;
}
/* ============================================================== */

a {
  @apply text-[var(--status-info1)] hover:text-[var(--status-info2)] active:text-[var(--status-info3)] cursor-pointer;
}

/* Scrollbar */
/* ============================================================== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}
/* ============================================================== */
